<!DOCTYPE html>

<html>

    <head>
        <!--<meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *">-->
        <meta name="format-detection" content="telephone=no">
        <meta name="msapplication-tap-highlight" content="no">
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
        <link rel="stylesheet" type="text/css" href="css/index.css">
    </head>
    <body ng-app="app">
        <div class="app" ng-controller="Main">

            <ul>
                <li ng-repeat="item in artifacts">
                    <!--<button ng-click="downloadFile(item.url)">Sborka : {{item.id}}</button>-->
                    <a ng-href="{{item.url}}">Build : {{item.id}}</a>
                </li>
            </ul>
        </div>
        <script type="text/javascript" src="cordova.js"></script>
        <script type="text/javascript" src="js/index.js"></script>
        <script type="text/javascript" src="lib/angular.min.js"></script>
        <script type="text/javascript" src="js/app.js"></script>
    </body>
</html>
